:root {
    --selected-text-glow: 0px 0px 5px rgb(210, 113, 255), 0px 0px 2px rgb(255, 255, 255); 
}
* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.options {
    position: relative;
    margin-left: 12px;
}

[id$="options-dropdown"] {
    display: none;
    width: 250px;
    grid-template-columns: 1fr
}

[id$="options-dropdown"] > label {
    margin-bottom: 20px;
}

body {
    margin: 0;
    font-family: "Russo One", Inconsolata, monospace;
    overflow:-moz-hidden-unscrollable;
}

.main-description {
    font-size: 18px;
    text-align: center;
}

.gears-icon {
    position: absolute;
    text-indent: -9999px;
    left: 10px;
    top: 165px;
    width: 30px;
    height: 30px;
    opacity: 60%;
    background-image: url("../pics/gears-configuration-tool-svgrepo-com.svg");
    background-size: 30px 30px;
}

.gears-icon:hover {
    opacity: 100%;
}


.cross-icon {
    position: absolute;
    text-indent: -9999px;
    left: 10px;
    top: 135px;
    width: 30px;
    height: 30px;
    opacity: 60%;
    background-image: url("../pics/cross.svg");
    background-size: 30px 30px;
}

.cross-icon:hover {
    opacity: 100%;
}

.gear-icon {
    position: relative;
    display: inline-block;
    top: 5px;
    left: 12px;
    width: 20px;
    height: 20px;
    opacity: 60%;
    background-image: url("../pics/icons8-settings.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.gear-icon:hover {
    opacity: 100%;
}

.input-option-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.option-wrapper {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    justify-content: space-between;
    padding: 5px 0px 5px 0px;
}

.input-suboption-description {
    display: inline;
    color: rgb(210, 113, 255);
    text-shadow: 0px 0px 7px rgb(210, 113, 255); 
    font-size: 20px;
    white-space: nowrap;
}

.input-suboption-description::after {
    content:":";
}

.bg-dark {
    background: #260e38;
}

.text-header {
    text-align: center;
    width: 100%;
    font-size: 74px;
    font-style: oblique;
    font-weight: 900;
}

.version {
    position: absolute;
    font-size: 10px;
    color: white;
    float: right;
    margin-top: 70px;
    margin-left: 90%;
}

.gr-color-retro {
    position: absolute;
    color: transparent;
    background-image: -webkit-linear-gradient(270deg, #000000 30%, #0e2877 35%, #fbfbfd 50%, #3f113c 50%, #8a2c9f 59% , #fbfbfd 75%);
    background-size: 100% 80px;
    -webkit-background-clip: text;
}

.txt-glow-blue {
    text-shadow: -2px 2px 5px #3500c5, -2px 2px 2px #3500c5;
}

.generate-btn {
    background-color: transparent;
    color: rgb(207, 207, 207);
    padding: 10px;
    margin-top: 26px;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: inherit;
}

.generate-btn:hover {
    color: #220337;
    background-color: rgb(153, 153, 153);
}

input[type="number"] {
    display: inline;
    background-color: transparent;
    color: rgb(210, 113, 255);
    font-family: inherit;
    font-size: 20px;
    width: 50px;
    height: 24px;
    opacity: 100%;
    padding: 2px 0px 2px 2px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    border: 1px solid rgb(210, 113, 255);
    float: right;
}

input[type="number"]:focus {
    outline: none;
}

.mainoptions-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.mainoption-container {
    display: block;
}
.mainoption-container > m{
    display: block;
}
/* hide default checkbox design */
[id*="option-toggle-button"] {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-mainoption {
    position: relative;
    display: inline;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    color: rgb(126, 126, 126);
}
  
.checkbox-mainoption:hover {
    color: rgb(233, 233, 233);
}

input:checked + .checkbox-mainoption {
    text-shadow: var(--selected-text-glow);
    color: white;
}

.checkbox-suboption {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: transparent;
    outline: 2px solid rgb(126, 126, 126);
    border: 4px solid #260e38;
}

.suboption-description {
    position: relative;
    display: inline;
    color: rgb(126, 126, 126);
    font-size: 20px;
    text-indent: 20px;
}

.checkbox-suboption:hover {
    background-color: #ccc;
}

input:checked + .checkbox-suboption {
    background-color: white;
    outline: 2px solid #fff;
}

input:checked + .checkbox-suboption + .suboption-description {
    text-shadow: var(--selected-text-glow);
    color: white;
}

.white-vertical-borders{
    padding: 10px;
    border-bottom: 4px solid rgb(163, 163, 163);
    border-top: 4px solid rgb(163, 163, 163);
    color: rgb(207, 207, 207);
}

.overlay{
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
    pointer-events: none;
}

.screen-line{
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    animation-name: bottom-up;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    pointer-events: none;
    z-index: 800;
    opacity: 40%;
}

.screen-texture{
    background-size: 100% 4px, 4px 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.2) 50%);
    opacity: 70%;
}

.name-field{
    background-color: #190925;
    height: fit-content;
    font-family: inherit;
    display: block;
    text-align: center;
    text-shadow: 0px 0px 7px rgb(210, 113, 255);
    box-shadow: 0px 0px 7px rgb(210, 113, 255);
    margin: auto;
    color: rgb(210, 113, 255);
    font-size: 50px;
    width: 90%;
    opacity: 100%;
    -webkit-user-select:text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.name-field:focus
{
    border: 0px;
    outline: 0;
}

.input-suboption-range-value{
    display: inline;
    color: rgb(210, 113, 255);
    text-shadow: 0px 0px 7px rgb(210, 113, 255); 
    font-size: 20px;
    white-space: nowrap;
}

.slider {
    display: inline;
    -webkit-appearance: none;  
    appearance: none;
    width: 60px; 
    height: 15px;
    background: rgb(210, 113, 255);
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    margin-top: 5px;
    position: absolute;
    left: 160px;
}

.slider:hover {
    opacity: 1; 
}

.slider:disabled {
    opacity: 0.2;
}

.slider:disabled + .input-suboption-range-value {
    opacity: 0.2;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 15px; 
    height: 15px; 
    background: #190925; 
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    width: 15px; 
    height: 15px; 
    background: #190925; 
    cursor: pointer;
}

.anim-in-to_right{
    position: relative;
    animation-name: in-to_right;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.anim-in-to_bottom{
    position: relative;
    animation-name: in-to_bottom;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.anim-glowing{
    animation-name: glowing;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-fill-mode: both;
}

.anim-del-small{
    animation-delay: 0.3;
}

@keyframes in-to_right{
    0% 
    {
        opacity: 0%;
        left: -30px;
    }
    100%
    {
        left: 0px;
    }
}

@keyframes in-to_bottom{
    0% 
    {
        opacity: 0%;
        top: -15px;
    }
    100%
    {
        opacity: 100%;
        top: 0px;
    }
}

@keyframes bottom-up{
    0% 
    {
        top:1px
    }
    100%
    {
        top:99.9%
    }
}

@keyframes glowing{
    0% 
    {
        text-shadow: transparent;
    }
    100%
    {
        text-shadow: inherit;
    }
}
@media only screen and (max-width: 1300px){
    .mainoptions-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 1100px){
    .mainoptions-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 800px){
    .mainoptions-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 600px){
    .gears-icon{
        top: 205px;
    }
    .cross-icon{
        top: 175px;
    }
    .wrapper {
        text-align: center;
        width: 100%;
        margin-left: 10px;
    }
    .name-field{
        width: 95%;
    }
    .text-header{
        font-size: 50px;
    }
    .gr-color-retro{
        background-size: 100% 50px;
    }
    .main-description{
        font-size: 14px;
    }
    .mainoptions-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .mainoption-container{
        margin-left: auto;
        margin-right: auto;
    }
    [id$="options-dropdown"] {
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr;
    }
}